<footer style="margin-top:80px">

    <div class="footer-category">

      <div class="container">

        <!-- <h2 class="footer-category-title">Brand directory</h2> -->

        <div class="footer-category-box">

          <h1 class="footer-category-title">
            ุงุฑุณุงู ุฑุงฺฏุงู๐คฉ
ูพุงู ุชุฑู ููุช ุจูุชุฑู ฺฉูุช
ูุจุงุณ ุฒุฑุุดุงู ูุฑูุณุฑุูพูุดุงฺฉ ุฒูุงูู ูุจฺฺฏุงูู
ุงุฏุฑุณ:ูุดูุฏ/ุดูุฑฺฉ ุดูุฏุฑุฌุง/ุญุฑ28/ูุจุด ุงุฑููุฏ28/ูพูุดุงฺฉ ฺฉุงฺฉุชูุณ09364860366
          
          </h1>

         

        </div>

       

      

      </div>

    </div>

   

    <div class="footer-bottom">

      <div class="container">

       <h3 style="color:azure">  09364860366</h3>

        <p class="copyright">
          Copyright &copy;  <a href="https://www.instagram.com/poshak_cactus1/" target="_blank" rel="noopener noreferrer"> poshak_cactus1</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>